[submodule "imageConversion/linedraw"]
	path = imageConversion/linedraw
	url = https://github.com/devriesewouter89/linedraw
[submodule "saxi"]
	path = saxi
	url = https://github.com/nornagon/saxi.git
